# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
Thumbs.db
.DS_Store

# Build
dist/
build/
*.egg-info/

# Temporary
temp/
tmp/

# Jupyter
.ipynb_checkpoints/